{% for item in items %}
    {% set dog = item.content['#options'].entity %}
    <div class="add-info">
      <h3>{{ before_title }}</h3>
      <h2>{{ dog.title.value }}</h2>
      <p>{{dog.get('body').summary}}</p>
      <div class="btn-container">
        <a class="btn btn-search" href="{{ path('entity.node.canonical', {'node': dog.id}) }}">Search</a>
      </div>
    </div>
    <div class="bg-img" style="background-image: url({{ file_url(dog.field_dog_photo.entity.fileuri) }})"></div>
{% endfor %}
