{#
/**
 * @file
 * Theme override for the basic structure of a single Drupal page.
 *
 * Variables:
 * - logged_in: A flag indicating if user is logged in.
 * - root_path: The root path of the current page (e.g., node, admin, user).
 * - node_type: The content type for the current node, if the page is a node.
 * - head_title: List of text elements that make up the head_title variable.
 *   May contain one or more of the following:
 *   - title: The title of the page.
 *   - name: The name of the site.
 *   - slogan: The slogan of the site.
 * - page_top: Initial rendered markup. This should be printed before 'page'.
 * - page: The rendered page markup.
 * - page_bottom: Closing rendered markup. This variable should be printed after
 *   'page'.
 * - db_offline: A flag indicating if the database is offline.
 * - placeholder_token: The token for generating head, css, js and js-bottom
 *   placeholders.
 *
 * @see template_preprocess_html()
 */
#}
{%
set body_classes = [
logged_in ? 'user-logged-in',
not root_path ? 'path-frontpage' : 'path-' ~ root_path|clean_class,
node_type ? 'page-node-type-' ~ node_type|clean_class,
db_offline ? 'db-offline',
]
%}
<!DOCTYPE html>
<html{{ html_attributes }}>
  <head>
    <head-placeholder token="{{ placeholder_token }}">
    <title>{{ head_title|safe_join(' | ') }}</title>
    <js-placeholder token="{{ placeholder_token }}">
    <style type="text/css">
      #page_loading{position:fixed;left:0;top:0;width:100%;height:100%;opacity:1;z-index:9999;background-color:#1623aa}.dog-eyes:before,.dog-muzzle:after,.dog-muzzle:before,.dog-tongue:before,.dog:before{content:'';display:block;position:absolute}.dog{width:100px;height:100px;z-index:1;position:absolute;top:50%;left:50%;transform:translate(-50%,-50%);}.dog:before{width:100%;height:100%;border-radius:50%;background:rgba(0,0,0,.03);-webkit-transform:translateY(-30%) scale(1.5);transform:translateY(-30%) scale(1.5)}.dog *{position:absolute}.dog-body{top:-50%;-webkit-animation:dog-body .2s ease-in-out infinite alternate;animation:dog-body .2s ease-in-out infinite alternate}.dog-body:before{content:'';position:absolute;bottom:90%;right:50%;width:90%;height:90%;border-top-left-radius:100%;border-bottom-left-radius:10%;border-top-right-radius:10%;background:rgba(255,255,255,.4);-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-animation:dog-tail-blur .2s .033s ease-in-out infinite alternate both;animation:dog-tail-blur .2s .033s ease-in-out infinite alternate both}@-webkit-keyframes dog-tail-blur{from{-webkit-transform:rotate(0);transform:rotate(0);opacity:0}50%{opacity:1}to{-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0}}@keyframes dog-tail-blur{from{-webkit-transform:rotate(0);transform:rotate(0);opacity:0}50%{opacity:1}to{-webkit-transform:rotate(90deg);transform:rotate(90deg);opacity:0}}@-webkit-keyframes dog-body{from{-webkit-transform:translateX(-10%);transform:translateX(-10%)}to{-webkit-transform:translateX(10%);transform:translateX(10%)}}@keyframes dog-body{from{-webkit-transform:translateX(-10%);transform:translateX(-10%)}to{-webkit-transform:translateX(10%);transform:translateX(10%)}}.dog-head{-webkit-animation:dog-head 1.8s cubic-bezier(.11,.79,0,.99) infinite;animation:dog-head 1.8s cubic-bezier(.11,.79,0,.99) infinite}@-webkit-keyframes dog-head{from,to{-webkit-transform:rotate(45deg);transform:rotate(45deg)}33.3%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}66.6%{-webkit-transform:rotate(0);transform:rotate(0)}}@keyframes dog-head{from,to{-webkit-transform:rotate(45deg);transform:rotate(45deg)}33.3%{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}66.6%{-webkit-transform:rotate(0);transform:rotate(0)}}.dog-torso{top:-20%;animation:dog-torso .2s ease-in-out infinite alternate-reverse}@-webkit-keyframes dog-torso{from{-webkit-transform:translateX(-5%);transform:translateX(-5%)}to{-webkit-transform:translateX(5%);transform:translateX(5%)}}@keyframes dog-torso{from{-webkit-transform:translateX(-5%);transform:translateX(-5%)}to{-webkit-transform:translateX(5%);transform:translateX(5%)}}.dog-eyes{width:60%;top:55%;left:20%;z-index:1}.dog-eyes:before{height:40px;width:40px;border-radius:40px;background:orange;top:-10px;left:-10px;z-index:0;border:4px solid #fff;border-left-width:0;border-bottom-width:0;border-top-width:0;-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}.dog-eye{width:10px;height:10px;border-radius:50%;background:#000;z-index:1;-webkit-animation:dog-eye 1.8s infinite;animation:dog-eye 1.8s infinite}@-webkit-keyframes dog-eye{from,to{-webkit-animation-timing-function:step-end;animation-timing-function:step-end;opacity:1}50%,55%{-webkit-animation-timing-function:step-start;animation-timing-function:step-start;opacity:0}}@keyframes dog-eye{from,to{-webkit-animation-timing-function:step-end;animation-timing-function:step-end;opacity:1}50%,55%{-webkit-animation-timing-function:step-start;animation-timing-function:step-start;opacity:0}}.dog-eye:first-child{left:0}.dog-eye:last-child{right:0}.dog-muzzle{width:60%;left:20%;height:50%;border-bottom-left-radius:100%;border-bottom-right-radius:100%;background:#fff;bottom:-15%}.dog-muzzle:before{width:6px;height:20px;bottom:0;left:calc(50% - 3px);background:#EAEBEC}.dog-muzzle:after{background:#000;width:20px;height:15px;bottom:12px;left:calc(50% - 10px);border-radius:50% 50% 60% 60%/40% 40% 60% 60%}.dog-tongue{width:40px;height:100%;left:calc(50% - 20px);z-index:-1;-webkit-transform-origin:center top;transform-origin:center top;-webkit-animation:dog-tongue 1.8s -50ms ease-in-out infinite;animation:dog-tongue 1.8s -50ms ease-in-out infinite}@-webkit-keyframes dog-tongue{from,to{-webkit-transform:rotate(0);transform:rotate(0)}16.6666666667%{-webkit-transform:rotate(30deg);transform:rotate(30deg)}33.3333333333%,66.6666666667%{-webkit-transform:rotate(0);transform:rotate(0)}50%,83.3333333333%{-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}}@keyframes dog-tongue{from,to{-webkit-transform:rotate(0);transform:rotate(0)}16.6666666667%{-webkit-transform:rotate(30deg);transform:rotate(30deg)}33.3333333333%,66.6666666667%{-webkit-transform:rotate(0);transform:rotate(0)}50%,83.3333333333%{-webkit-transform:rotate(-20deg);transform:rotate(-20deg)}}.dog-tongue:before{width:100%;height:100%;border-radius:40px;background:#FD3163;-webkit-animation:dog-tongue-inner .1s ease-in-out infinite alternate;animation:dog-tongue-inner .1s ease-in-out infinite alternate}@-webkit-keyframes dog-tongue-inner{from{-webkit-transform:translateY(5%);transform:translateY(5%)}to{-webkit-transform:translateY(22%);transform:translateY(22%)}}@keyframes dog-tongue-inner{from{-webkit-transform:translateY(5%);transform:translateY(5%)}to{-webkit-transform:translateY(22%);transform:translateY(22%)}}.dog-ears{width:40%;top:25%;left:30%;-webkit-animation:dog-ears 1.8s .1s ease infinite;animation:dog-ears 1.8s .1s ease infinite}@-webkit-keyframes dog-ears{42.3%,71.6%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}5%,50.3%,79.6%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}12%{-webkit-transform:rotate(-5%);transform:rotate(-5%)}33.3%,66%,from,to{-webkit-transform:rotate(0);transform:rotate(0)}}@keyframes dog-ears{42.3%,71.6%{-webkit-transform:rotate(-5deg);transform:rotate(-5deg)}5%,50.3%,79.6%{-webkit-transform:rotate(5deg);transform:rotate(5deg)}12%{-webkit-transform:rotate(-5%);transform:rotate(-5%)}33.3%,66%,from,to{-webkit-transform:rotate(0);transform:rotate(0)}}.dog-ear{bottom:-10px;height:50px;width:50px;background:#EAEBEC;-webkit-animation-duration:.4s;animation-duration:.4s;-webkit-animation-direction:alternate;animation-direction:alternate;-webkit-animation-timing-function:ease-in-out;animation-timing-function:ease-in-out;-webkit-animation-fill-mode:both;animation-fill-mode:both;-webkit-animation-iteration-count:infinite;animation-iteration-count:infinite}.dog-ear:first-child{border-bottom-left-radius:80%;border-top-right-radius:80%;right:100%;-webkit-box-shadow:inset -15px 15px 0 1px #fff;box-shadow:inset -15px 15px 0 1px #fff;-webkit-transform-origin:right bottom;transform-origin:right bottom;-webkit-transform:rotate(10deg);transform:rotate(10deg)}.dog-ear:last-child{border-top-left-radius:80%;border-bottom-right-radius:80%;left:100%;-webkit-box-shadow:inset 15px 15px 0 0 #fff;box-shadow:inset 15px 15px 0 0 #fff;-webkit-transform-origin:left bottom;transform-origin:left bottom;-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}.dog-tail{width:22px;height:24.2px;background:#fff;bottom:40%;border-radius:11px;left:calc(50% - 11px);-webkit-transform-origin:center bottom;transform-origin:center bottom}.dog-tail .dog-tail{-webkit-animation:dog-tail-segment .2s ease-in-out infinite alternate;animation:dog-tail-segment .2s ease-in-out infinite alternate}@-webkit-keyframes dog-tail-segment{from{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}to{-webkit-transform:rotate(10deg);transform:rotate(10deg)}}@keyframes dog-tail-segment{from{-webkit-transform:rotate(-10deg);transform:rotate(-10deg)}to{-webkit-transform:rotate(10deg);transform:rotate(10deg)}}.dog-body>.dog-tail{bottom:90%;-webkit-animation:dog-tail .2s ease-in-out infinite alternate;animation:dog-tail .2s ease-in-out infinite alternate}@-webkit-keyframes dog-tail{from{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}to{-webkit-transform:rotate(45deg);transform:rotate(45deg)}}@keyframes dog-tail{from{-webkit-transform:rotate(-45deg);transform:rotate(-45deg)}to{-webkit-transform:rotate(45deg);transform:rotate(45deg)}}.dog-body,.dog-head,.dog-torso{border-radius:50%;background:#fff;position:absolute;height:100%;width:100%}.dog-body,.dog-torso{-webkit-box-shadow:inset 0 -15px 0 0 #EAEBEC;box-shadow:inset 0 -15px 0 0 #EAEBEC}
    </style>
  </head>
  <body{{ attributes.addClass(body_classes) }}>
  <div id="page_loading">
    <div class="dog">
      <div class="dog-body">
        <div class="dog-tail">
          <div class="dog-tail">
            <div class="dog-tail">
              <div class="dog-tail">
                <div class="dog-tail">
                  <div class="dog-tail">
                    <div class="dog-tail">
                      <div class="dog-tail"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="dog-torso"></div>
      <div class="dog-head">
        <div class="dog-ears">
          <div class="dog-ear"></div>
          <div class="dog-ear"></div>
        </div>
        <div class="dog-eyes">
          <div class="dog-eye"></div>
          <div class="dog-eye"></div>
        </div>
        <div class="dog-muzzle">
          <div class="dog-tongue"></div>
        </div>
      </div>
    </div>
    </div>
      {#
      Keyboard navigation/accessibility link to main content section in
      page.html.twig.
  #}
    <a href="#main-content" class="visually-hidden focusable skip-link">
        {{ 'Skip to main content'|t }}
    </a>
        {{ page_top }}
        {{ page }}
        {{ page_bottom }}
        <css-placeholder token="{{ placeholder_token }}">
        <js-bottom-placeholder token="{{ placeholder_token }}">
  </body>
</html>

