<header class="main-header" id="main-header">
    {{ page.header }}
</header>

<main>
    <a id="main-content" tabindex="-1"></a>

    {# {{ page.breadcrumbs }}#}
    {{ page.content }}
</main>

<footer class="main-footer">
    <div class="main-footer-wr">
      <nav class="main-footer-nav">
        {{ page.footer_first }}
        {{ page.footer_second }}
      </nav>
    </div>
</footer>
