<header class="main-header" id="main-header">
    {{ page.header }}
</header>

<main>
    <a id="main-content" tabindex="-1"></a>
    <div class="error-page">
        <h2 class="error-page-text">{{'Whoops! You got us all distracted! Sorry!'|t}}</h2>
        <br><br>
        <img class="error-page-img" align="middle" src="/{{ directory }}/html/build/img/DistractedDogsWeb.jpg">
    </div>
</main>

<footer class="main-footer">
    <div class="main-footer-wr">
      <nav class="main-footer-nav">
        {{ page.footer_first }}
        {{ page.footer_second }}
      </nav>
    </div>
</footer>
