<header class="main-headermessage" id="main-header">
    {{ page.header }}
</header>

<main>
    <section class="contact-page">
        <div class="contact-wr">
            <div class="contact-info">
                <div class="contact-detail">
                    <h2>Our contact details</h2>
                    <a href="tel:{{ phone }}">{{ phone }}</a>
                    <a href="mailto:{{ email }}">{{ email }}</a>
                </div>
                {% if  show_map  %}
                <div class="contact-location">
                    <h2>Where are we?</h2>
                    <p>adress adress adress adress</p>
                    <div class="map" id="map"></div>
                </div>
                {% endif %}
            </div>
            <div class="contact-form">
                {{ form }}
            </div>
        </div>
    </section>
</main>


<footer class="main-footer">
    <div class="main-footer-wr">
        <nav class="main-footer-nav">
            {{ page.footer_first }}
            {{ page.footer_second }}
        </nav>
    </div>
</footer>

<script src="js/scripts.js"></script>
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCKZ53ZIDcAnROfVunP0mUO3EJKdprkUzE"
        async defer></script>