{% if content %}
    {{ attach_library('unl_common/unl_header') }}
    <div class="main-header-wr">
      <a href="{{ path('<front>') }}" class="main-header-logo"></a>
      <div class="main-header-inner">
        <div class="main-header-social">
          <select name="countries" id="countries" class="select-lng">
            {% if (lang == 'en') %}
              <option value='ae' data-href="{{ url('<front>') }}" data-lang="gb" data-image="/{{ directory }}/html/img/msdropdown/icons/blank.gif" data-imagecss="flag flag-gb" data-title="England"></option>
              <option value='ad' data-href="{{ url('<front>') }}" data-lang="es" data-image="/{{ directory }}/html/img/msdropdown/icons/blank.gif" data-imagecss="flag flag-es" data-title="Spain"></option>
            {% else %}
              <option value='ad' data-href="{{ url('<front>') }}" data-lang="gb" data-image="/{{ directory }}/html/img/msdropdown/icons/blank.gif" data-imagecss="flag flag-es" data-title="Spain"></option>
              <option value='ae' data-href="{{ url('<front>') }}" data-lang="en" data-image="/{{ directory }}/html/img/msdropdown/icons/blank.gif" data-imagecss="flag flag-gb" data-title="England"></option>
            {% endif %}
          </select>
          <a href="#" class="social-link social-link--fb"></a>
          <a href="#" class="social-link social-link--inst"></a>
          <a href="#" class="btn btn-donate">donate</a>
          <div id="burger" class="burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        {{ content }}
      </div>
    </div>
{% endif %}
