{% if content %}
    {{ attach_library('unl_common/unl_header') }}
    <div class="main-header-wr">
      <a href="{{ path('<front>') }}" class="main-header-logo"></a>
      <div class="main-header-inner">
        <div class="main-header-social">
          <select name="countries" id="countries" class="select-lng">
              {% if (lang != 'en') %}
                  <option value='{{ lang }}' data-href="{{ url('<front>') }}" data-lang="{{ lang }}" data-image="/{{ directory }}/html/img/msdropdown/icons/blank.gif" data-imagecss="flag flag-{{ lang }}" data-title=""></option>
              {% else %}
                  <option value='ae' data-href="{{ url('<front>') }}" data-lang="gb" data-image="/{{ directory }}/html/img/msdropdown/icons/blank.gif" data-imagecss="flag flag-gb" data-title=""></option>
              {% endif %}
              {% for country in list_countries %}
                  {% set id = country.getId %}
                  {% if ((id == 'en') and (lang != 'en')) %}
                      <option value='ae' data-href="{{ url('<front>') }}" data-lang="gb" data-image="/{{ directory }}/html/img/msdropdown/icons/blank.gif" data-imagecss="flag flag-gb" data-title="England"></option>
                  {% elseif lang != id %}
                      <option value='{{ id }}' data-href="{{ url('<front>') }}" data-lang="{{ id }}" data-image="/{{ directory }}/html/img/msdropdown/icons/blank.gif" data-imagecss="flag flag-{{ id }}" data-title="{{ country.name }}"></option>
                  {% endif %}
              {% endfor %}
          </select>
          <a href="#" class="social-link social-link--fb"></a>
          <a href="#" class="social-link social-link--inst"></a>
          <a href="#" class="btn btn-donate">donate</a>
          <div id="burger" class="burger">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
          </div>
        </div>
        {{ content }}
      </div>
    </div>
{% endif %}
